



.navbar-brand {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

/* Animation styles on hover */
.navbar-brand:hover {
    transform: scale(1.2); /* Increase size on hover */
    color: #000000; /* Change color on hover */
}

